@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
}

nav {
    height: 60px;
    background-color: rgb(51, 88, 94);
    text-align: center;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
}

nav a {
    display: inline-block;
    width: 120px;
    text-decoration: none;
    padding: 15px 0;
    font-size: 120%;
    color: rgb(250, 196, 96);
}

nav a:visited, nav a:active {
    color: rgb(250, 196, 96);
}

nav a:hover {
    color: white;
}

#main {
    background-color: rgb(90, 194, 207);
}

#features img {
    width: 60%;
}

#features figure {
    width: 30%;
    background-color: darkslategrey;
    text-align: center;
    border-radius: 4px;
}

#features figcaption {
    background-color: white;
    padding: 1.5em;
}

.code {
    color: red;
    background-color: gainsboro;
    font-family: monospace;
    padding: 0.2em;
    font-size: 110%;
}